*, *::after, *::before { box-sizing: border-box; } 

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: black;
}

header, footer {
  padding: 1.25em;
}

footer {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 1.25em;
}

@media (min-width: 600px) {
  header, main, footer {
    padding: 2.5em;
  }
}

@media (min-width: 768px) {
  header, main, footer {
    padding: 3.75em;
  }
}

