*, *::after, *::before { box-sizing: border-box; } 

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: black;
}

header, main, footer {
  padding: 1.25em;
}

footer {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
}



