*, *::after, *::before { box-sizing: border-box; } 

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e8e8e8;
  color: #220b38;
}

header, main, footer {
  padding: 1.25em;
}

footer {
  border-top: 1px solid #220b38;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75em;
}

main {
  flex: 1;
}



